



main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 230px;
    
}

.title
{
    font-size: 21px;
    font-weight: bold;
    /* padding: 1.5% 0; */
}

.title-info
{
	padding-bottom: 2%;
}

.form
{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 2%;
}

.input-group, .textarea-group
{
    padding: 1% 0;
}

input, textarea
{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding: 1.5%;
    font-size: 20px;
}

input:focus, textarea:focus
{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid hotpink;
}

input::placeholder, textarea::placeholder
{
    color: transparent;
}

label
{
    color: #757575;
    position: relative;
    left: 0.5em;
    top: -2em;
	cursor: auto;
    transition: 0.3s ease all;
}

input:focus ~ label, input:not(:placeholder-shown) ~ label
{
    top: -4em;
    color: green;
    font-size: 19px;
}

textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
{
    top: -12.5em;
    color:hotpink;
    font-size: 15px;
}

.button-div
{
    display: flex;
    justify-content: center;
}

.c-btn
{
    padding: 2%;
    width: 35%;
    border: 1px solid;
    border-color: green;
    border-radius: 15px;
    font-family: inherit;
    font-size: 18px;
    background-color: rgb(6, 102, 6);
    color: inherit;
    box-shadow: 0 0 10px green;
}

.c-btn:hover
{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all .50s ease-in-out;
}


/* Media queries */

@media screen and (max-width: 1200px)
{
    .form
    {
        width: 70%;
    }
}

@media screen and (max-width: 680px)
{
    .form
    {
		width: 90%;
    }
}

@media screen and (max-width: 500px)
{
	.title
	{
		font-size:25px;
		padding-top: 6%;
	}

	.title-info
	{
		font-size: 13px;
	}
	
	.form
	{
		padding: 6% 4%;
		padding-top: 15%;
	}

	.input-group, .textarea-group
    {
		padding: 3% 0;
	}
	
	input, textarea
	{
		font-size: 15px;
	}

	input:focus ~ label, input:not(:placeholder-shown) ~ label
	{
		top: -3.5em;
		left: 0.1em;
	}
	
	textarea:focus ~ label, textarea:not(:placeholder-shown) ~ label
	{
		top: -12.5em;
		left: 0.2em;
    }
    
    button
    {
        font-size: 15px;
    }
}
.message{
    width: 100%;
    position: relative;
    margin-bottom:60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: red;
    position: absolute;
    transition: .3s ;
    animation: buttons .3s linear;
    display: none;
}
@keyframes buttons {
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}